         /* this css will create the responsive websites for mobiles */

/* NAVIGATION BAR */
#navbar{
flex-direction: column;
}
#navbar ul li a{
	font-size: 1rem;
	padding:0px 7px;
	padding-bottom:8px;
}

/* HOME SECCTION */
#home{
	height:370px;
	padding:3px 68px;
}
#home::before{
	height:530px;
}
#home p{
	font-size:13px;
}

/* SERVICES */

#services{
flex-direction:column;
}
#services .box{
padding:14px;
margin:2px 0px;
margin-bottom:20px;
}
/* CLIENT SECTION */
#clients{
	flex-wrap:wrap;
}
#clients img{
	width:66px;
	height:auto;
	padding:2px 6px;
}

/* CONTACT */
#contact-box form{
	width:80%;
}

/* UTILITY CLASS */
.h-primary{
	font-size:26px;
} 
.btn{
	font-size:13px;
	padding:4px 8px;
}
.h-secondary{
	font-size:30px;
	
}